<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>{{site.project-header}}</p>
                </div><!--//intro-->
                {% for project in site.data.projects %}

                <div class="item">
                    <span class="project-title"><a href="{{project.url}}">{{project.name}}</a></span> - <span class="project-tagline">{{project.description | markdownify | remove: '<p>' | remove: '</p>'}}</span>
                    
                </div><!--//item-->
                    
                {% endfor %}

            </section><!--//section-->